@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}

.outer-line {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 7px;
}

.outer-line:before {
  content: '';
  background-image: linear-gradient(to bottom, #00ccff, #d400d4);
  width: 200%;
  height: 200%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}
@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
